<div class="container">
  <h1 class="sign">New project</h1>

  <%= render "form", project: @project %>

  <br>

  <div>
    <%= link_to "Back to projects", projects_path , class: "linkInBack" %>
  </div>
</div>